.photo { 
    width: 100px;
    display: block;
    margin: auto
}

.title {
    font: size 16vm;
    color: darkblue; 
    letter-spacing: 3px; 
    text-align: center;
}

.content {
    text-align: center;
}

.box {
    width: 300px; /* 폭 */
    height: 70px; /* 높이 */
    background-color: rgb(163, 237, 178);
    padding: 30px; /*안쪽 여백*/
    margin: 15px auto; /*여백 + 가운데 정렬*/
    border-radius: 2px; /*보더 둥글게(모서리)*/
    text-align: center; /*div 안 텍스트 가운데 정렬*/
    font-size: 22px;
    box-shadow: 5px 5px;
}

.container {
    width: 800px;
}

.header {
    width: 100%; /*부모태그 width 100%*/
    height: 50px;
    background: aquamarine;
}

.left-menu {
    width: 20%;
    height: 400px;
    background: cornflowerblue;
    /* float: left; */
    display: inline-block;
    vertical-align: top;
}

.right {
    width: 80%;
    height: 400px;
    background: coral;
    /* float: left; */
    display: inline-block;
}

.footer {
    width: 100%;
    height: 100px;
    background: grey;
}